# Editor
.vscode

LICENSE

/frontend/contracts/

## Blockchain (hardhat)

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts/

artifacts-frontend/

# Hardhat deploy
deployments/
proposals.json

## Frontend
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


### IPFS
ipfs_data
ipfs_staging