@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar */
/* Works on Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: var() orange;
  }

/* Works on Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-track {
background: orange;
}

*::-webkit-scrollbar-thumb {
background-color: blue;
border-radius: 20px;
border: 3px solid orange;
} */ 