{
  "COIN_MARKET_CAP_API_KEY": "YOUR_API_KEY",
  "INFURA_API_KEY": "YOUR_API_KEY",
  "ETHERSCAN_API_KEY": "YOUR_API_KEY",
  "SEPOLIA_ACCOUNTS": ["0xDEPLOYER", "0xSUPPLYCHAINMANAGER", "0xACTOR1", "0xACTOR2", "0xACTOR3", "0xACTOR4", "0xACTOR5"]
}
